body {
    text-align: center;
}
.choiceButton {
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(39, 233, 17);
    border-radius: 50px;
    cursor: pointer;
}
.choiceImage {
    height: 75px;
}